################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SplitAndSort/bin/x64/Debug/source2.txt
/SplitAndSort/bin/x64/Debug/source1.txt
/SplitAndSort/obj
/SplitAndSort/bin/x64/Debug
/.vs/SplitAndSort/v16
