################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SplitAndSort/bin/x64/Debug/source2.txt
